.settings-pg {
  min-height: 80vh;
}

.settings-pg fieldset {
  border: none;
}

.started-pg {
  background: rgb(243, 243, 243);
  color: rgb(20, 20, 20);
  padding-top: 4rem;
  position: relative;
  padding-bottom: 3rem;
  outline: 1rem solid rgb(243, 243, 243);
}

.started-pg ol {
  text-align: center;
  list-style-position: inside;
  font-size: 1.5rem;
  line-height: 2;
  font-family: courier-prime, monospace;
}

.user-appearance {
  width: 1120px;
  margin-left: calc(50% - 560px);
}

.user-appearance input {
  appearance: none;
  width: 100px;
  height: 100px;
  margin: 0;
  padding: 0;
  outline: none;
  border-radius: 50%;
}

.user-appearance label {
  opacity: 0.8;
  display: inline-block;
  border: 10px solid rgb(243, 243, 243);
  border-radius: 50%;
  margin: 10px;
  height: 100px;
  outline: none;
}

.theme-update-btn {
  background: rgb(20, 20, 20, 0.3);
  border: 2px solid rgb(243, 243, 243);
  color: rgb(243, 243, 243);
  font-size: 3rem;
  font-weight: bold;
  margin-top: 5vh;
  margin-left: calc(50% - 10rem);
  width: 20rem;
  padding: 0.5rem;
  margin-bottom: 5vh;
}

.theme-update-btn:hover {
  background: rgb(243, 243, 243);
  color: rgb(20, 20, 20);
}

.settings-pg .theme-update-btn:active,
.settings-pg .theme-update-btn:focus {
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  color: rgb(243, 243, 243);
  background: rgb(20, 20, 20, 0.3);
}

@media screen and (max-width: 1200px) {
  .user-appearance {
    width: 840px;
    margin-left: calc(50% - 420px);
  }
}

@media screen and (max-width: 950px) {
  .user-appearance {
    width: 600px;
    margin-left: calc(50% - 300px);
  }
}

@media screen and (max-width: 650px) {
  .user-appearance {
    display: flex;
    width: 80%;
    margin-left: 10%;
  }
  .user-appearance input {
    /* border: 1px solid pink; */
    width: 80%;
    height: 100px;
  }

  .user-appearance label {
    height: 100px;
    width: 80%;
    border-radius: 0%;
  }
}
