.settings-pg {
  min-height: 80vh;
}

.settings-pg fieldset {
  border: none;
}

.user-appearance {
  width: 1080px;
  margin-left: calc(50% - 510px);
}

.user-appearance input {
  appearance: none;
  width: 100px;
  height: 100px;
  margin: 0;
  padding: 0;
  outline: none;
}

.user-appearance label {
  opacity: 0.8;
  display: inline-block;
  border: 10px solid rgb(230, 230, 230);
  border-radius: 50%;
  margin: 10px;
  height: 100px;
  outline: none;
}

.theme-update-btn {
  background: rgb(20, 20, 20, 0.3);
  border: 2px solid rgb(230, 230, 230);
  color: rgb(230, 230, 230);
  font-size: 3rem;
  font-weight: bold;
  margin-top: 5vh;
  margin-left: calc(50% - 5rem);
  width: 20rem;
  padding: 0.5rem;
  margin-bottom: 5vh;
}

.theme-update-btn:hover {
  background: rgb(230, 230, 230);
  color: rgb(20, 20, 20);
}

.settings-pg .theme-update-btn:active,
.settings-pg .theme-update-btn:focus {
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  color: rgb(230, 230, 230);
  background: rgb(20, 20, 20, 0.3);
}

@media screen and (max-width: 1200px) {
  .user-appearance {
    width: 840px;
    margin-left: calc(50% - 390px);
  }
}

@media screen and (max-width: 910px) {
  .user-appearance {
    width: 540px;
    margin-left: calc(50% - 270px);
  }
}

@media screen and (max-width: 600px) {
  .user-appearance {
    display: flex;
    margin-left: calc(50% - 130px);
  }
  .user-appearance input {
    /* border: 1px solid pink; */
    width: 200px;
    height: 100px;
  }

  .user-appearance label {
    height: 100px;
    width: 200px;
    border-radius: 0%;
  }
  .user-appearance {
    /* margin-left: calc(50% - 0px); */
  }
}
