.landing-pg {
  text-align: center;
}

.landing-pg h1 {
  margin-bottom: 0;
}
.landing-1 h2,
.landing-1 h3 {
  color: rgb(243, 243, 243);
}
.landing-1 h2 {
  padding-top: 2rem;
  margin-bottom: 0;
}
.landing-1 h3 {
  margin-top: 1.5rem;
}

.landing-2 h3 {
  padding-bottom: 2rem;
}
.landing-container {
  background: #262626;
}

.landing-1 {
  background: #262626;
  position: relative;
  padding-bottom: 5rem;
  margin-bottom: 0;
}
.landing-vector-1 {
  max-width: 80%;
  max-height: 70vh;
  /* padding-bottom: 2rem; */
}

.vector-container {
  box-shadow: 5px 5px 2px rgb(49, 49, 49);
}

.landing-txt {
  /* font-family: courier-prime, monospace; */
  font-size: 25px;
  /* font-weight: bold; */
  text-align: center;
}

.script-txt {
  font-family: courier-prime, monospace;
  font-size: 20px;
  text-align: center;
}

.landing-2,
.landing-3,
.landing-4, .landing-5 {
  position: relative;
  color: rgb(49, 49, 49);
  padding-top: 10rem;
  padding-bottom: 10rem;
  border-bottom: 1px solid rgb(49, 49, 49);
  background: rgb(243, 243, 243);
}

.landing-5 {
  border-bottom: 1px solid rgb(243, 243, 243);
  outline: 1rem solid rgb(243, 243, 243);
  margin-top: 1rem;
}

.landing-gif {
  width: 100%;
  max-width: 800px;
}

.register,
.demo {
  border: 2px solid rgb(243, 243, 243);
  border-radius: 10px;
  position: relative;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  width: 350px;
  margin-left: calc(50% - 195px);
}

.register {
  padding: 1rem;
}
.demo {
  background: rgb(49, 49, 49, 0);
  padding: 0;
  height: auto;
  height: 80px;
  width: 385px;
  margin-left: 0px;
}

.register:hover,
.demo:hover {
  background: rgb(243, 243, 243);
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

.register:hover,
.demo:hover h3 {
  color: rgb(49, 49, 49);
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

a,
.demo {
  text-decoration: none;
  color: rgb(243, 243, 243);
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

.pg-num {
  position: absolute;
  top: 1rem;
  right: 96px;
}

.slugline {
  position: absolute;
  top: 1rem;
  left: 96px;
}

.demo:disabled {
  visibility: hidden;
  height: 0;
}

@media screen and (max-width: 1000px) {
  .landing-vector-1 {
    max-width: 90%;
    max-height: 50vh;
  }
}

@media screen and (max-width: 600px) {
  .landing-vector-1 {
    max-width: 98%;
    max-height: 50vh;
  }
  .landing-2, .landing-3, .landing-4, .landing-5 {
    padding-left: .5rem;
    padding-right: .5rem;
  }
  .register, .demo {
    width: 300px;
    padding: 1rem;
    margin-left: calc(50% - 170px);
  }
  .demo {
    height: 60px;
    width: 335px;
    margin-left: 0px;
  }
  .demo h3 {
    position: relative;
    top: -20px;
  }
}
