.admin-pg {
  color: rgb(243, 243, 243);
}
.admin-pg ul {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
}

.admin-pg li {
  width: auto;
}

.admin-pg .atl-notification {
  border: 2px solid rgb(243, 243, 243);
  font-size: 20px;
  width: 50%;
  background: rgb(20, 20, 20, 0.3);
  margin-left: 25%;
  border-radius: 3px;
}

.admin-btn {
  background: rgb(20, 20, 20, 0.3);
  border: 2px solid rgb(243, 243, 243);
  color: rgb(243, 243, 243);
  font-size: 1.5rem;
  font-weight: bold;
  width: 6rem;
  height: 3rem;
  /* margin-left: calc(50% - 6rem); */
}