.scripts-pg {
  overflow-x: hidden;
}

.scripts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 80vh;
  width: 1000px;
  margin-left: calc(50% - 500px);
  padding-bottom: 5rem;
}

@media screen and (max-width: 1300px) {
  .scripts-container {
    width: 700px;
    margin-left: calc(50% - 350px);
  }
}

@media screen and (max-width: 850px) {
  .scripts-container {
    width: 300px;
    margin-left: calc(50% - 150px);
  }
}
