header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  padding-bottom: 1rem;
  color: rgb(219, 217, 217);
}

.atl-nav-menu {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-top: 1rem;
  margin-right: 10%;
  margin-left: 10%;
}

.menu-icon g {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 1.2s ease-in forwards;
}

.atl-footer {
  padding-top: 1rem;
  padding-bottom: 2rem;
  text-align: center;
  color: rgb(219, 217, 217);
}

@-o-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@-moz-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
