h1 {
  text-align: center;
  margin-top: 0;
  font-size: 5rem;
  padding-top: 1rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

/* organize paddings by page, here */
main {
  margin-top: 0;
  padding-bottom: 1rem;
  color: rgb(49, 49, 49);
}

button:focus {
  -moz-transform: scaleX(1.05);
  -o-transform: scaleX(1.05);
  -ms-transform: scaleX(1.05);
  transform: scaleX(1.05);
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  opacity: 1;
  outline: none;
  -moz-box-shadow: 0 0 3px rgb(219, 217, 217);
  -webkit-box-shadow: 0 0 3px rgb(219, 217, 217);
  box-shadow: 0 0 3px 3px rgb(219, 217, 217);
}

button {
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  opacity: 0.9;
}

button:hover {
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  opacity: 1;
}

button:active {
  -moz-transform: scaleX(1.05);
  -o-transform: scaleX(1.05);
  -ms-transform: scaleX(1.05);
  transform: scaleX(1.05);
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  opacity: 1;
}

.atl-footer,
main {
  margin: 0;
}
