h1 {
  text-align: center;
  margin-top: 0;
  padding-top: 1rem;
}

/* organize paddings by page, here */

button:focus {
  -moz-transform: scaleX(1.05);
  -o-transform: scaleX(1.05);
  -ms-transform: scaleX(1.05);
  transform: scaleX(1.05);
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  opacity: 1;
  outline: none;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px 3px #d3e8f3;
}

button {
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  opacity: 0.9;
}

button:hover {
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  opacity: 1;
}

button:active {
  -moz-transform: scaleX(1.05);
  -o-transform: scaleX(1.05);
  -ms-transform: scaleX(1.05);
  transform: scaleX(1.05);
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  opacity: 1;
}

.atl-footer,
main {
  margin: 0;
}
