h1 {
  text-align: center;
  margin-top: 0;
  font-size: 5rem;
  padding-top: 1rem;
  color: rgb(243, 243, 243);
}

h2 {
  font-size: 3rem;
  text-align: center;
  word-spacing: 0.3rem;
}

h3 {
  font-size: 2.1rem;
  text-align: center;
  word-spacing: 0.27rem;
}

/* organize paddings by page, here */
main {
  padding-top: 10rem;
  padding-bottom: 1rem;
  overflow-x: hidden;
  /* for internet explorer */
  background: rgb(54, 59, 60);
}

input {
  border-radius: 3px;
}

input:focus {
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  opacity: 1;
  outline: none;
  -moz-box-shadow: 0 0 1px 1px rgb(243, 243, 243);
  -webkit-box-shadow: 0 0 1px 1px rgb(243, 243, 243);
  box-shadow: 0 0 1px 1px rgb(243, 243, 243);
}

button:focus {
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  opacity: 1;
  outline: none;
  -moz-box-shadow: 0 0 1px 1px rgb(243, 243, 243);
  -webkit-box-shadow: 0 0 1px 1px rgb(243, 243, 243);
  box-shadow: 0 0 1px 1px rgb(243, 243, 243);
}
.nav-menu-btn {
  opacity: 1;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}
.demo:focus,
.demo:active,
.nav-menu-btn:focus,
.nav-menu-btn:active,
.append-tag:focus,
.append-tag:active,
.delete-tag:focus,
.delete-tag:active {
  -moz-transform: scale(.95, .95);
  -o-transform: scale(.95, .95);
  -ms-transform: scale(.95, .95);
  transform: scale(.95, .95);
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  opacity: 1;
  outline: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

button {
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  opacity: 0.9;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  opacity: 1;
}
  
button:active {
  -moz-transform: scale(.95, .95);
  -o-transform: scale(.95, .95);
  -ms-transform: scale(.95, .95);
  transform: scale(.95, .95);
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  opacity: 1;
}

.atl-footer,
main {
  margin: 0;
}

.line {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

@media screen and (max-width: 900px) {
  .script-txt,
  .landing-txt {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 3.4rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  h3 {
    font-size: 1.3rem;
  }
  .signature img {
    height: 40px;
    cursor: pointer;
    /* margin-left: 10px; */
    position: relative;
    top: 15px;
  }
  .script-txt,
  .landing-txt {
    font-size: 1.1rem;
  }
  .pg-num {
    position: absolute;
    top: 1rem;
    right: 30px;
  }

  .slugline {
    position: absolute;
    top: 1rem;
    left: 30px;
  }
  .menu-icon {
    width: 90px;
  }
}
