.atl-form input,
.atl-form select {
  font-family: "Lato", sans-serif;
}

.search-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 95%;
  margin-left: 2.5%;
}

hr {
  margin-bottom: 5rem;
  position: relative;
  top: -10px;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
}

.search-form fieldset {
  border: none;
  /* border: 1px solid black; */
  width: 20%;
  position: relative;
  padding: 0.7rem;
}

.keyword-search input,
.sort-search select {
  width: 100%;
  text-indent: 5px;
  border-radius: 7px;
  border: 1px solid rgb(243, 243, 243, 0);
  height: calc(35px - 0.4rem);
  font-size: large;
  opacity: 0.95;
}
.keyword-search input:active,
.sort-search select:active {
  opacity: 1;
}

.sort-search select {
  background: rgb(255, 255, 255);
  height: 35px;
}

.sort-search button {
  position: absolute;
  left: -35px;
  top: 0.7rem;
  padding: 0;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0, 0);
  font-weight: bolder;
  font-size: 1.5rem;
  width: 35px;
  height: 35px;
  border-radius: 7px;
}

.keyword-search button {
  position: absolute;
  right: 0.8rem;
  top: 1rem;
  background: rgb(255, 255, 255, 0);
  border: 1px solid rgb(0, 0, 0, 0);
  border-radius: 5px;
}

@media screen and (max-width: 1200px) {
  .search-form fieldset {
    border: none;
    /* border: 1px solid black; */
    width: 40%;
    position: relative;
    padding: 0.7rem;
  }
}
 
@media screen and (max-width: 600px) {
  .search-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 95%;
    margin-left: 2.5%;
  }  
  .search-form .keyword-search {
    border: none;
    /* border: 1px solid black; */
    width: 100%;
    position: relative;
    padding: 0.7rem;
    margin-left: 5%;    
  }
  .search-form .sort-search {
    border: none;
    /* border: 1px solid black; */
    width: 80%;
    position: relative;
    padding: 0.7rem;
    margin-left: calc(10% + 1.4rem);
  }
}
