.editor-pg {
  position: relative;
  top: -2.2rem;
}

.wrapper {
  outline: none;
}

.box {
  border: 4px solid rgb(49, 49, 49);
  /* border-bottom: none; */
}

.react-resizable {
  position: relative;
}
.box-top {
  left: 20%;
  border-bottom: none;
}
.box-bottom {
  left: 20%;
}

.box-bottom::before {
  content: "";
  position: absolute;
  display: inline-block;
  bottom: -4px;
  left: -50%;
  width: 50%;
  z-index: 2;
  height: 4px;
  background: rgb(49, 49, 49);
}

.box-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  border-left: none;
  border-right: none;
  border-bottom: none;
  overflow-y: auto;
}

.react-resizable-handle {
  position: absolute;
  width: 10px;
  height: 100%;
  bottom: 0;
  right: 0;
  border-right: 4px solid rgb(49, 49, 49);
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: s-resize;
}

.react-resizable-handle-s {
  border: none;
  left: 0;
  width: 100%;
  height: 10px;
  border-bottom: 1px solid rgb(49, 49, 49);
  /* #607d8b */
}

/* inputs */
.box-top form {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.box-top textarea {
  width: 95%;
  height: 50%;
  margin-left: 2.5%;
  line-height: 1.5;
  overflow-y: auto;
  padding: 0;
  background: rgb(236, 235, 235);
}

.box-top fieldset {
  border: none;
  /* padding: 0; */
  width: 95%;
  margin-left: 2.5%;
}

.box-top p {
  text-align: center;
  color: rgb(230, 230, 230);
  font-weight: bold;
}

.input-bottom {
  margin-bottom: 0.6rem;
}

.tags,
.actors {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style-type: none;
}

.tag-control,
.actor-control {
  margin-right: 1rem;
}
.append-tag {
  border-radius: 10px 0 0 10px;
  color: rgb(230, 230, 230);
  font-weight: bold;
  padding: 0.25rem 0.5rem;
  opacity: 0.95;
}
.delete-tag {
  border-radius: 0 10px 10px 0;
  color: rgb(230, 230, 230);
  font-weight: bold;
  padding: 0.25rem 0.5rem;
  opacity: 0.95;
}

.append-tag:hover,
.delete-tag:hover {
  color: white;
}

/* sidebar */
.box-sidebar {
  color: rgb(230, 230, 230);
  font-weight: bold;
}

.box-sidebar input {
  background: rgb(236, 235, 235);
  border: 1px solid rgb(49, 49, 49);
  padding: 0.25rem;
}

.box-sidebar label {
  font-size: 1.5rem;
}

.sidebar-inputs {
  width: 100%;
  margin-top: calc(5vh + 6rem);
  line-height: 1.75;
  text-align: center;
}

.side-title input {
  width: 90%;
}
.document-controls {
  display: flex;
  justify-content: flex-start;
  margin-top: 3vh;
  margin-left: 5vh;
}
.document-controls button {
  background: rgb(20, 20, 20, 0.3);
  border: 2px solid rgb(230, 230, 230);
  color: rgb(230, 230, 230);
  font-size: 1rem;
  font-weight: bold;
  width: 6rem;
  height: 2.5rem;
  margin-right: 1rem;
}
.side-update-btn {
  background: rgb(20, 20, 20, 0.3);
  border: 2px solid rgb(230, 230, 230);
  color: rgb(230, 230, 230);
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 5vh;
  width: 90%;
  padding: 0.5rem;
  margin-bottom: 5vh;
}

.side-update-btn:hover,
.document-controls button:hover {
  background: rgb(230, 230, 230);
  color: rgb(20, 20, 20);
}

.side-update-btn:active,
.document-controls button:active {
  color: rgb(230, 230, 230);
  background: rgb(20, 20, 20, 0.3);
}

.sidebar-inputs fieldset {
  border: none;
  border-bottom: 1px solid rgb(20, 20, 20);
  position: relative;
  left: -1px;
}

.side-tags {
  padding-bottom: 5vh;
}

.side-tags input {
  width: 82%;
}

.side-tags button {
  color: rgb(236, 235, 235);
  font-weight: bold;
  border-radius: 50%;
  border: none;
  background: none;
  font-size: 1.7rem;
  position: relative;
  top: 0.4rem;
}

.sidebar-info {
  text-align: left;
  list-style-position: inside;
}

.sidebar-info li {
  font-weight: bold;
  font-size: 1.2rem;
}
kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}
