.editor-pg {
  position: relative;
  top: -2.2rem;
}

.box {
  border: 5px solid #2c3a41;
  /* border-bottom: none; */
}

.react-resizable {
  position: relative;
}
.box-top {
  left: 20%;
  border-bottom: none;
}
.box-bottom {
  left: 20%;
}

.box-bottom::before {
  content: "";
  position: absolute;
  display: inline-block;
  bottom: -5px;
  left: -50%;
  width: 50%;
  z-index: 2;
  height: 5px;
  background: #2c3a41;
}

.box-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.react-resizable-handle {
  position: absolute;
  width: 10px;
  height: 100%;
  bottom: 0;
  right: 0;
  border-right: 4px solid rgb(49, 49, 49);
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: s-resize;
}

.react-resizable-handle-s {
  border: none;
  left: 0;
  width: 100%;
  height: 10px;
  border-bottom: 1px solid rgb(49, 49, 49);
  /* #607d8b */
}

/* inputs */
.box-top form {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.box-top textarea {
  width: 95%;
  height: 50%;
  margin-left: 2.5%;
  padding: 0;
}

.tags,
.actors {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style-type: none;
}
.tag-control {
  margin-right: 1rem;
}
.append-tag {
  border-radius: 10px 0 0 10px;
  color: rgb(219, 217, 217);
  font-weight: bold;
  padding: 0.25rem 0.5rem;
  opacity: 0.95;
}
.delete-tag {
  border-radius: 0 10px 10px 0;
  color: rgb(219, 217, 217);
  font-weight: bold;
  padding: 0.25rem 0.5rem;
  opacity: 0.95;
}

.append-tag:hover,
.delete-tag:hover {
  color: white;
}
