/* @import url("https://fonts.googleapis.com/css?family=Cutive+Mono&display=swap"); */

.menu-btn {
  display: none;
}

.script-toggle:checked + .script-container .menu-btn {
  display: inline;
}

.script-toggle {
  appearance: none;
  visibility: hidden;
}

.script {
  /* border: 2px solid black; */
  width: 240px;
  height: 340px;
  margin: 40px;
  margin-bottom: 60px;
  text-align: center;
}

.script input {
  width: 1rem;
  height: 1rem;
  margin: 1rem;
  background: rgb(243, 243, 243);
}

.script-pg {
  margin: auto;
  cursor: pointer;
  position: relative;
  height: 300px;
  width: 240px;
  padding: 10px;
  padding-left: 15px;
  font-family: courier-prime, monospace;
  font-weight: 400;
  font-style: normal;
  background: rgb(243, 243, 243);
  border: 1px solid rgb(199, 197, 197);
  box-shadow: 2px 2px 1px 0px rgb(243, 243, 243),
    3px 3px 1px 0px rgb(199, 197, 197), 4px 4px 1px 0px rgb(243, 243, 243),
    5px 5px 1px 0px rgb(199, 197, 197), 6px 6px 1px 0px rgb(243, 243, 243);
}

.script-pg h3 {
  font-family: courier-prime, monospace;
  font-weight: 550;
  font-style: normal;
  font-size: 15px;
  margin-top: 50px;
}

.script-pg p {
  margin-top: 5px;
  font-size: 14px;
  line-height: 1.1;
}

.script-pg p:nth-child(3) {
  margin-bottom: 50px;
}

.menu-btn img {
  width: 0.8rem;
  height: 0.8rem;
}

.l {
  animation: fromLeft 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -webkit-animation: fromLeft 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -moz-animation: fromLeft 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -o-animation: fromLeft 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.r {
  animation: fromRight 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -webkit-animation: fromRight 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -moz-animation: fromRight 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -o-animation: fromRight 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.script-toggle:not(:checked) + .script-container .script-menu {
  display: none;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

.script-toggle:checked + .script-container .script-menu {
  display: flex;
  justify-content: space-evenly;
  -webkit-animation: cardMenu 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -moz-animation: cardMenu 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -o-animation: cardMenu 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: cardMenu 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.script-menu {
  margin: 0.5rem;
  padding: 0.3rem;
  background: rgb(49, 49, 49);
  border: 1px solid rgb(49, 49, 49, 0);
  border-radius: 5px;
}

.script-menu button {
  background: none;
  border: none;
  appearance: none;
}

.fa-pencil-alt,
.copy-b,
.print-b {
  font-size: 1rem;
  color: rgb(243, 243, 243, 0.9);
  cursor: pointer;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

.del-b {
  font-size: 1rem;
  color: rgb(211, 44, 38, 0.9);
  cursor: pointer;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

.fa-pencil-alt:hover,
.copy-b:hover,
.print-b:hover {
  color: rgb(253, 253, 253);
  font-weight: bold;
  cursor: pointer;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

.del-b:hover {
  color: rgb(228, 65, 59);
  cursor: pointer;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

/* ^original styles  */
.loader-item {
  background: rgb(139, 139, 139);
  height: 15px;
  margin: 50px auto;
  border-radius: 5px;
  animation: loading 2.3s infinite both;
  -o-animation: loading 2.3s infinite both;
  -moz-animation: loading 2.3s infinite both;
  -webkit-animation: loading 2.3s infinite both;
}

.loader-title {
  width: 200px;
  height: 20px;
  margin-top: 50px;
}

.loader-author {
  width: 80px;
}

.loader-subtitle {
  width: 150px;
}

.hole-1,
.hole-2,
.hole-3 {
  width: 5px;
  height: 5px;
  background: rgb(0, 0, 0, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 50%;
}

.hole-1 {
  position: absolute;
  top: 50px;
  left: 10px;
}

.hole-2 {
  position: absolute;
  top: 150px;
  left: 10px;
}

.hole-3 {
  position: absolute;
  top: 250px;
  left: 10px;
}

@-webkit-keyframes loading {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

@-o-keyframes loading {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

@-moz-keyframes loading {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

@keyframes loading {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

/* @-o-keyframes fromRight {
  0% { 
    -o-transform: translateX(300px);
    transform: translateX(300px);
    opacity: 0.1;
  }
  100% {
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-moz-keyframes fromRight {
  0% {
    -moz-transform: translateX(300px);
    transform: translateX(300px);
    opacity: 0.1;
  }
  100% {
    -moz-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
} */

@-webkit-keyframes fromRight {
  0% {
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
    opacity: 0.1;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fromRight {
  0% {
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
    opacity: 0.1;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

/* @-o-keyframes fromLeft {
  0% { 
    -o-transform: translateX(-300px);
    transform: translateX(-300px);
    opacity: 0.1;
  }
  100% {
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-moz-keyframes fromLeft {
  0% {
    -moz-transform: translateX(-300px);
    transform: translateX(-300px);
    opacity: 0.1;
  }
  100% {
    -moz-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
*/

@-webkit-keyframes fromLeft {
  0% {
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px);
    opacity: 0.1;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fromLeft {
  0% {
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px);
    opacity: 0.1;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-moz-keyframes cardMenu {
  0% {
    -moz-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-o-keyframes cardMenu {
  0% {
    -o-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes cardMenu {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes cardMenu {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 1000px) {
  .l {
    -webkit-animation: fromLeft 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    -moz-animation: fromLeft 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    -o-animation: fromLeft 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fromLeft 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }

  .r {
    -webkit-animation: fromRight 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    -moz-animation: fromRight 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    -o-animation: fromRight 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fromRight 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }

  @-o-keyframes fromRight {
    0% {
      -o-transform: translateX(100px);
      transform: translateX(100px);
      opacity: 0.1;
    }
    100% {
      -o-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }

  @-moz-keyframes fromRight {
    0% {
      -moz-transform: translateX(100px);
      transform: translateX(100px);
      opacity: 0.1;
    }
    100% {
      -moz-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }

  @-webkit-keyframes fromRight {
    0% {
      -webkit-transform: translateX(100px);
      transform: translateX(100px);
      opacity: 0.1;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes fromRight {
    0% {
      -webkit-transform: translateX(100px);
      transform: translateX(100px);
      opacity: 0.1;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }

  @-o-keyframes fromLeft {
    0% {
      -o-transform: translateX(-100px);
      transform: translateX(-100px);
      opacity: 0.1;
    }
    100% {
      -o-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }

  @-moz-keyframes fromLeft {
    0% {
      -moz-transform: translateX(-100px);
      transform: translateX(-100px);
      opacity: 0.1;
    }
    100% {
      -moz-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }

  @-webkit-keyframes fromLeft {
    0% {
      -webkit-transform: translateX(-100px);
      transform: translateX(-100px);
      opacity: 0.1;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes fromLeft {
    0% {
      -webkit-transform: translateX(-100px);
      transform: translateX(-100px);
      opacity: 0.1;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
}
