.required {
  color: rgb(199, 58, 48);
}

.met {
  color: rgb(48, 199, 81);
}

.btn-add {
  font-size: 1.2rem;
  margin: auto;
  width: 5rem;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 3px solid rgb(243, 243, 243);
  background: #2c3a41;
  /* color: #d3e8f3; */
  color: rgb(243, 243, 243);
  border-radius: 50%;
}

/* .btn-add:hover,
.btn-back:hover {
  color: white;
} */

.btn-back {
  position: absolute;
  top: 3vh;
  left: calc(50% - 31.5px);
  border: 3px solid rgb(243, 243, 243);
  color: rgb(243, 243, 243);
  border-radius: 50%;
  font-size: 3.7rem;
  padding: 0.5rem 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-decoration: none;
}

.btn-back:active {
  border: 3px solid rgb(243, 243, 243);
  border-radius: 50%;
}

.paginate-scripts ul {
  list-style-type: none;
  padding: 0;
}

#prev {
  position: fixed;
  cursor: pointer;
  left: 10%;
  top: calc(50%);
  width: 8rem;
  height: 8rem;
  background: none;
  border: 0.8rem solid;
  border-color: rgb(243, 243, 243, 0.8) transparent transparent
    rgb(243, 243, 243, 0.8);
  transform: rotate(-45deg);
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

#prev:hover {
  border-color: rgb(253, 253, 253) transparent transparent rgb(253, 253, 253);
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

#prev:disabled,
#next:disabled {
  opacity: 0;
}

#next:hover {
  border-color: rgb(253, 253, 253) rgb(253, 253, 253) transparent transparent;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

#next {
  position: fixed;
  cursor: pointer;
  right: 10%;
  top: calc(50%);
  width: 8rem;
  height: 8rem;
  background: none;
  border: 0.8rem solid;
  border-color: rgba(243, 243, 243, 0.8) rgb(243, 243, 243, 0.8) transparent
    transparent;
  transform: rotate(45deg);
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

#prev:focus,
#next:focus {
  /* border-color: rgb(253, 253, 253) transparent transparent rgb(253, 253, 253); */
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#prev:focus {
  border-color: rgb(253, 253, 253) transparent transparent rgb(253, 253, 253);
}

#next:focus {
  border-color: rgb(253, 253, 253) rgb(253, 253, 253) transparent transparent;
}

.pagination-counter {
  font-size: 3rem;
  text-align: center;
  color: rgb(243, 243, 243);
}

#prev,
#next {
  border-radius: 10x;
}

.skeleton-tag {
  animation: loading 2s infinite both;
}

.skeleton-tag button {
  color: rgb(243, 243, 243, 0);
}

/* .loader-tag-txt {
background: rgb(243, 243, 243, .8); 
border-radius: 10px;
width: 40px;
height: 17px;
} */

@media screen and (max-width: 1600px) {
  #prev,
  #next {
    width: 7rem;
    height: 7rem;
  }
  #prev {
    left: 5%;
  }
  #next {
    right: 5%;
  }
}

@media screen and (max-width: 950px) {
  #prev,
  #next {
    width: 5rem;
    height: 5rem;
  }
  #prev {
    left: 5%;
  }
  #next {
    right: 5%;
  }
}

@media screen and (max-width: 850px) {
  #prev {
    left: 10%;
  }
  #next {
    right: 10%;
  }
}
