.required {
  color: rgb(199, 58, 48);
}

.met {
  color: rgb(48, 199, 81);
}

.btn-add {
  font-size: 1rem;
  margin: auto;
  width: 3.8rem;
  height: 3.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 3px solid rgb(49, 49, 49);
  background: #2c3a41;
  /* color: #d3e8f3; */
  color: rgb(49, 49, 49);
  border-radius: 50%;
}

/* .btn-add:hover,
.btn-back:hover {
  color: white;
} */

.btn-back {
  position: absolute;
  top: 5vh;
  left: calc(50% - 1.5rem);
  border: 3px solid rgb(49, 49, 49);
  background: #2c3a41;
  color: rgb(49, 49, 49);
  border-radius: 50%;
  font-size: 3rem;
}

.btn-back:active {
  border: 3px solid rgb(49, 49, 49);
  background: #2c3a41;
  border-radius: 50%;
}
